<h2>Admin Panel</h2>
<div class="tab-panel">
    <tabset class="member-tabset">
        <tab heading='User Management' *appHasRole='["Admin"]'>
            <div class="container">
                <app-user-mamangement></app-user-mamangement>
            </div>
        </tab>
        <tab heading='Photo Management' *appHasRole='["Admin", "Moderator"]'>
            <div class="container">
                <app-photo-mamangement></app-photo-mamangement>
            </div>
        </tab>
    </tabset>
</div>